<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户输入页面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>出版论文查询</h1>
        <form action="/submit" method="post">
            <label for="user_input">请输入作者:</label>
            <input type="text" id="user_input" name="user_input" required>
            <button type="submit">提交</button>
        </form>
        {% if result %}
            <h2>您查询的作者信息:</h2>
            <p>{{ result }}</p>
            <h2>出版论文:</h2>
            <ul>
                {% for paper in papers %}
                    <li>{{ paper }}</li> <!-- 逐行打印每个论文标题 -->
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>